/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
 */




/*-------- body -------------------- */
body {
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ffffff !important;
    font-size: 100% !important;
    height: auto !important;
    max-width: 900px;
    margin: auto;

    line-height: 1.6;

    font-family: system-ui, sans-serif !important;

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

#wrapper {
    max-width: 900px !important;
}

#main_content {
    min-height: 640px;
}



/*-------- banner -------------------- */

.bn-logo {
    max-width: 100% !important;
    width: 800px !important;
    height: auto !important;
    margin-top: 18px;
    margin-bottom: 18px;
}


h2.latest, .ep_view_page h2 {
    font-size: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #e1e1e1;
}

div.ep_latest_result {
    margin-bottom: 1em;
    margin-top: 1em;
}

h1 {
    text-align: left;
}

h1.ep_tm_pagetitle {
    font-size: 150%;
    font-weight: bold;
    color: #c00000;
    padding-top: 10px;
    margin-bottom: 13px;
}

.ep_tm_header {
    background-color: #fff;
    background-image: none;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 110%;
    color: #000;
}

h3 {
    font-size: 100%;
    color: #000;
}

li.homepage-list {
    margin: -10px;
}

#mc_embed_signup form {
    text-align: left !important;
}

.ep_toolbox {
    margin-bottom: 0px;
}

.creative-commons {
    text-align: center;
    font-size: 70%;
    max-width: 300px;
    margin:0 auto;
}

.ep_tm_footer.ep_noprint {
   border-top-width: 1px;
   font-size: 80%;
   font-color: #454545;

}

/*-------- previews --------------- */
#imageContainer {
    height: 500px !important;
}

#outerImageContainer {
    width: fit-content !important;
    max-width: 100% !important;
}

/* -------- homepage feed -------- */

.grid-container {
    display: grid;
    column-gap: 30px;
    max-width: 400px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}

#grid>div {
    padding: .5em;
}

.grid-item:where(:hover, :focus) {
    background-color: #fcfcfc;
}

.grid-item:where(:active) {
    background-color: #fff8f9;
}

.feed-img{
    float: right;
    padding: 20px 20px 20px 20px;
    width: 25%;
}

.feed-title{
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 10px;
}

.feed-author{
    padding-bottom: 10px;
    font-size: 100%;
    color: #555555;
}

.feed-abstract{
    font-size: 90%;
}

.feed-date{
    font-size: 70%;
    padding-bottom: 10px;
}

.feed-link{
    text-decoration: none;
    color: inherit !important;
}

.feed-link:hover{
    color: #444444 !important;
}


/* -------- search -------------- */

.ep_tm_searchbar {
    background-color: #FFF; 
    background-image: none;
}

.ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom, .ep_view_group_by, .ep_toolbox_content  {
    background: #f7f7f7;
    box-shadow: none;
    border-width: 0px;
    padding: 9px 0px;
}

input.ep_form_text {
    max-width: 90%;
}

.ep_search_fields {
    font-size: 90%;
}

.ep_search_result > div {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* -------- homepage box -------------- */

.homepage_box {
    margin-top: 10pt;
    margin-bottom: 10pt;
    border: 1px solid #eeeeee;
}


.homepage_heading_panel {
    background-color: #f7f7f7;
}

.homepage_box_heading {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 8pt;
    padding-bottom: 8pt;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none !important;
}

.homepage_box_content{
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}




/* --------  main menu ------------ */

/* code from here: https://codepen.io/deyand/pen/pvmyjw */

.mobile-menu {
    display:block;
    width:100%;
    background: #204F76;
    line-height: 1.6em;
    width:100%;
    text-align:center;
    position: relative;
    margin:0 auto;
}
/* strip the ul of padding and list styling */
.mobile-menu ul {
    list-style-type:none;
    margin: 0 auto;
    padding-left:0;
    text-align:center;
    width:100%;
    position: absolute;
    background: #204F76;
}

/* create a horizontal list with spacing */
.mobile-menu li {
    display:inline-block;
}

/* style for menu links */
.mobile-menu li a {
    display:block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #204F76;
    text-decoration: none;
    padding: 10px 20px;  
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

/* hover state for top level links */
.mobile-menu li:hover a {
    color: #4db3ff;
    background-color:#ccddee;
}

/* style for dropdown links */
.mobile-menu li:hover ul a {
    background: rgba(0,0,0,0);
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/* hover state for dropdown links */
.mobile-menu li:hover .mobile-menu ul a:hover {
    color: #4db3ff;
}

/* hide dropdown links until they are needed */
.mobile-menu li ul {
    display: none;
}

/* prevent text wrapping */
.mobile-menu li ul li a {
    width: auto;
    padding: 0 20px;
}


/* style 'show menu' label button and hide it by default */
.mobile-menu .show-menu {
    text-decoration: none;
    color: #fff;
    background: #204F76;
    text-align: center;
    padding: 10px 15px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}

.mobile-menu .show-menu span{
    padding-left: 25px;
}

/* hide checkbox */
.mobile-menu input[type=checkbox]{
    display: none;
}

/* show menu when invisible checkbox is checked */
.mobile-menu input[type=checkbox]:checked ~ #menu-test{
    display: block;
}

/* make dropdown links vertical */
.mobile-menu li ul li {
    display: flex;
    float: none;
    background: #e3e3e3;
}

/* sublist */
.mobile-menu li:hover ul{
    display: block;
    width: fit-content !important;
}

.mobile-menu li ul li:hover{
    background: #c1c1c1;
}


.mobile-menu li ul li a:hover {
    background: rgba(0,0,0,0);
}





/* responsive styles */

@media screen and (max-width : 750px){

    .ep_tm_header {
	margin-bottom: 20px;
    }

    .ep_tm_key_tools {
	display: none !important;
    }

    .mobile-menu .lines {
	border-bottom: 15px double #f8f8f8; 
	border-top: 5px solid #f8f8f8; 
	content:"";
	height: 5px; 
	width: 25px;
	padding-right:15px;
	margin: auto;
    }

    /* make dropdown links appear inline */
    .mobile-menu ul {
	position: static;
	display: none;
    }

    /* create vertical spacing */
    .mobile-menu li {
	margin-bottom: 1px;
    }

    /* make all menu links full width */
    .mobile-menu ul li, .mobile-menu li a {
	width: 100%;
	padding: 2px 0px;  
    }

    /* display 'show menu' link */
    .mobile-menu .show-menu {
	display:block;
    }

    /* center submenu */
    .mobile-menu li ul li {
	display: block;
    }

    /* search menu cells*/
    .ep_option_list_cell{
	display: block;
    }

    /* search menu help image */
    .ep_sr_show_help img {
	display: none;
    }

    /* search menu fields*/
    .ep_table_row > div {
	display: block !important;
    }

    /* search menu labels */
    .ep_multi_heading { 
	text-align: left !important;
    }

    /* search text borders */
    .ep_search_fields > div > div, .ep_table_row > div{
	border-top: none !important;
    }

    .ep_multi_heading {
	border-right: none !important;
    }


    /* search images */
    .ep_search_result div:nth-child(3) {
	display: none;
    }

    /* rss search */
    .ep_export_bar div:nth-child(2) {
	display: none;
    }

}

@media screen and (max-width : 400px){

    .ep_tm_header {
	margin-bottom: 20px;
    }

    #grid {
	grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
}
