/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
 */


/*-------- body -------------------- */
body {
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ffffff !important;
    font-size: 100% !important;
    height: auto !important;
    max-width: 900px;
    margin: auto;

    line-height: 1.6;

    font-family: system-ui, sans-serif !important;

    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

#wrapper {
    max-width: 900px !important;
}

#main_content {
    min-height: 640px;
}





/*-------- banner -------------------- */

.bn-logo {
    max-width: 100% !important;
    width: 800px !important;
    height: auto !important;
    margin-top: 18px;
    margin-bottom: 18px;
}


h2.latest {
    font-size: 100%;
    margin-top:30px;
    border-bottom: 1px solid #e1e1e1;
}

div.ep_latest_result {
    margin-bottom: 1em;
    margin-top: 1em;
}

table.ep_search_fields {
    width: 100%;
}

h1 {
    text-align: left;
}

h1.ep_tm_pagetitle {
    font-size: 150%;
    font-weight: bold;
    color: #c00000;
    padding-top: 10px;
    margin-bottom: 13px;
}

.ep_tm_header {
    background-color: #fff;
    background-image: none;
    text-align: center;
}

.ep_tm_searchbar {
    background-color: #FFF; 
    background-image: none;
}

h2 {
    font-size: 110%;
    color: #000;
}

h3 {
    font-size: 100%;
    color: #000;
}


/*-------- menu  -------------------- */

#hamburger-menu {
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
    to bottom, 
    #3D0E61, #3D0E61 20%, 
    white 20%, white 40%, 
    #3D0E61 40%, #3D0E61 60%, 
    white 60%, white 80%, 
    #3D0E61 80%, #3D0E61 100%
    );
}


.ep_tm_menu {
    background-image: none; 
}


.ep_tm_menu a, .ep_tm_menu a:visited {
    padding-left: 25px;
    padding-right: 25px;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

#menu {
    background-color: #204F76;
    z-index: 100;
    height: 30px;
    width: 100%;
    clear: none;
    padding: 0px;
    border: 0;
    vertical-align: top;
    display: flex;
    justify-content: center;
}


#local_menu {
    z-index: 1;
    position: relative;
    border: 0;
}

#local_menu_search {

    margin: 0px auto;
    width: 770px;
    position: relative;
}

.ep_tm_menu li:active{
    background-color: #313131 !important;
}

.ep_tm_menu{
    width: 100%;
}

.ep_toolbox {
    margin-bottom: 0px;
}

.creative-commons {
    text-align: center;
    font-size: 70%;
    max-width: 300px;
    margin:0 auto;
}

.ep_tm_searchbarbox{ 
    width: 65%;
    height: 40px;
    font-size: 100% !important;
}


.ep_tm_searchbarbutton{ 
    width: 25%;
    height: 40px;
    font-size: 100% !important;
}



/*-------- previews --------------- */
#imageContainer{
    height: 500px !important;
}


/* -------- homepage feed -------- */

.grid-container {
    display: grid;
    column-gap: 30px;
    max-width: 400px;
}


#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
}


#grid>div {
    padding: .5em;
}

.grid-item:where(:hover, :focus) {
    background-color: #fcfcfc;
}

.grid-item:where(:active) {
    background-color: #fff8f9;
}

.feed-img{
    float:right;
    padding: 10px 10px 10px 10px;
    width: 33%;
}

.feed-title{
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 10px;
}

.feed-author{
    padding-bottom: 10px;
    font-size: 100%;
    color: #555555;
}

.feed-abstract{
    font-size: 90%;
}

.feed-date{
    font-size: 70%;
    padding-bottom: 10px;
}

.feed-link{
    text-decoration: none;
    color: inherit !important;
}

.feed-link:hover{
    color: #444444 !important;
}


/* -------- homepage box -------------- */

.homepage_box {
    margin-top: 10pt;
    margin-bottom: 10pt;
    border: 1px solid #eeeeee;
}


.homepage_heading_panel {
    background-color: #eff4f8;
}

.homepage_box_heading {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 8pt;
    padding-bottom: 8pt;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none !important;
}

.homepage_box_content{
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.homepage_icon{
    height: 30px;
    float: right;
}


/* --------  responsiveness ------------ */
@media (max-width: 660px) {


    #hamburger-menu {
	display: inline !important;
    }
    .ep_tm_menu li{
	display: block !important;
	width: 100% !important;
    }


    #menu {
	height: 100%;
	clear: left !important;
    }

    .ep_tm_key_tools {
	display: none !important;
    }

}




