[Unit]
Description=generate feed every 4 hours

[Timer]
OnCalendar=00/2:10
RandomizedDelaySec=60
Persistent=true
Unit=feed.service

[Install]
WantedBy=timers.target
