[Unit]
Description=generate feed every 6 hours

[Timer]
OnCalendar=00/6:10
RandomizedDelaySec=60
Persistent=true
Unit=feed.service

[Install]
WantedBy=timers.target
