[Unit]
Description=update site every day at 4 am 

[Timer]
OnCalendar=*-*-* 4:00:00
RandomizedDelaySec=60
Persistent=true
Unit=generate.service

[Install]
WantedBy=timers.target
